<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "Josh Roth" %></title>
    <%= stylesheet_link_tag 'css/bootstrap.min' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto+Slab:400|Open+Sans:400,300italic,300,400italic,600italic,600,700italic,700,800italic,800' %>
    <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %>
    <%= stylesheet_link_tag 'css/style' %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'js/html5shiv' %>
      <%= javascript_include_tag 'js/respond.min' %>
    <![endif]-->
    <%= partial 'google_analytics' %>
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %>
    <%= javascript_include_tag 'js/bootstrap.min' %>
  </body>
</html>
