---
title: Red Wedding Caterers (T-Shirt Design)
layout: bootstrap
---

<%= partial 'header' %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb hidden-xs">
				<li><a href="/">Portfolio</a></li>
				<li class="active">Red Wedding Caterers (T-Shirt Design)</li>
			</ol>
			
			<h2>Red Wedding Caterers <span>T-Shirt Design</span></h2>

			<%= image_tag 'redwedding-full.png', :class => 'img-responsive' %>
		</div>
	</div>
</div>

<%= partial 'footer' %>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %>
<%= javascript_include_tag 'all' %>