---
title: Josh Roth - Solar America (Widget Suite)
layout: bootstrap
---

<%= partial 'header' %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb hidden-xs">
				<li><a href="/">Portfolio</a></li>
				<li class="active">Solar America (Widget Suite)</li>
			</ol>
			
			<h2>Solar America <span>Widget Suite</span></h2>
			
			<div class="thumbnail">
				<%= image_tag 'sam-widget-extra-small.png', :alt => 'Extra Small Widget' %>
			</div>
			<div class="thumbnail">
				<%= image_tag 'sam-widget-small.png', :alt => 'Small Widget' %>
			</div>
			<div class="thumbnail">
				<%= image_tag 'sam-widget-medium.png', :alt => 'Medium Widget' %>
			</div>
			<div class="thumbnail">
				<%= image_tag 'sam-widget-large.png', :alt => 'Large Widget' %>
			</div>
			<div class="thumbnail">
				<%= image_tag 'sam-widget-iframe.png', :alt => 'iFrame Widget' %>
			</div>
			<div class="thumbnail">
				<%= image_tag 'sam-widget-popup.png', :alt => 'Pop-up Widget' %>
			</div>
			<div class="thumbnail">
				<%= image_tag 'sam-widget-body.png', :alt => 'Body Widget' %>
			</div>			
		</div>
	</div>
</div>

<%= partial 'footer' %>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %>
<%= javascript_include_tag 'all' %>