---
title: Josh Roth
layout: bootstrap
---

<%= partial 'header' %>

<div class="container">
	<div class="row">
		<div class="col-lg-12 well" id="aboutme">
			<a class="pull-right close" href="#"><i class="fa fa-times-circle"></i></a>
			<em>Hello, world!</em> I&rsquo;m Josh, a web designer/developer &amp; animator living in North Hollywood, CA. Here you&rsquo;ll find my latest work and <%= link_to 'my resume', 'Josh_Roth_Resume_2014.pdf', :target => '_blank' %>. Please take a look around, and feel free to <%= link_to 'say hello', 'mailto:josh@joshmroth.com' %>. Thanks for stopping by!
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<a name="portfolio"></a>
			<h2>
			<div class="pull-right btn-group">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-filter"></i>&nbsp;&nbsp;Filter
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><%= link_to 'All', '#all', :class => 'filter' %></li>
					<li><%= link_to 'Animation', '#animation', :class => 'filter' %></li>
					<li><%= link_to 'Graphic Design', '#graphicdesign', :class => 'filter' %></li>
					<li><%= link_to 'Web Design', '#webdesign', :class => 'filter' %></li>
				</ul>
			</div>
			Portfolio <span id="filter-replace"> </span>
			</h2>
		</div>
	</div>
	<div class="containter portfolio">
		<div class="row portfolio-webdesign">
			<div class="col-lg-4">
				<% link_to 'portfolio/solar-energy-installers/' do %>
					<%= image_tag 'portfolio-sei.jpg', :class => 'thumb' %>
				<% end %>
			</div>
			<div class="col-lg-8">
				<h3><%= link_to 'Solar Energy Installers', 'portfolio/solar-energy-installers/' %> <span>Landing Page</span></h3>
				<p>A landing page for information on home solar installation. Built with a responsive design using the <%= link_to 'Bootstrap', 'http://www.getbootstrap.com', :target => '_blank' %> framework, generated as a static site with the <%= link_to 'Middleman', 'http://www.middlemanapp.com/', :target => '_blank' %> framework, and deployed to the cloud with Amazon S3 & Cloudfront.</p>
			</div>
		</div>
		<div class="row portfolio-webdesign">
			<div class="col-lg-4">
				<% link_to 'portfolio/solar-america-widgets/' do %>
					<%= image_tag 'portfolio-samwidgets.jpg', :class => 'thumb' %>
				<% end %>
			</div>
			<div class="col-lg-8">
				<h3><%= link_to 'Solar America', 'portfolio/solar-america-widgets/' %> <span>Widget Suite</span></h3>
				<p>A suite of dynamic iframe widgets for home solar installation used by a wide range of different websites. Each widget is designed to be customizable and theme-able to fit into any website&rsquo;s style. Generated as static pages with the <%= link_to 'Middleman', 'http://www.middlemanapp.com/', :target => '_blank' %> framework and deployed to the cloud with Amazon S3 & Cloudfront.</p></p>
			</div>
		</div>		
		<div class="row portfolio-webdesign">
			<div class="col-lg-4">
				<% link_to 'http://www.chloemedghalchi.com/', :target => '_blank' do %>
					<%= image_tag 'portfolio-chloe.jpg', :class => 'thumb' %>
				<% end %>
			</div>
			<div class="col-lg-8">
				<h3><%= link_to 'Chloe Medaghlchi', 'http://www.chloemedghalchi.com/', :target => '_blank' %> <span>Web Portfolio</span></h3>
				<p>Chloe is a friend of mine who is an art director. I designed this portfolio for her in Wordpress, so that she could easily update it without any need to code.</p>
			</div>
		</div>
		<div class="row portfolio-graphicdesign">
			<div class="col-lg-4">
				<% link_to 'http://adventuresinanimation.tumblr.com/', :target => '_blank' do %>
					<%= image_tag 'portfolio-adventuresinanimation.jpg', :class => 'thumb' %>
				<% end %>
			</div>
			<div class="col-lg-8">
				<h3><%= link_to 'Adventures in Animation', 'http://adventuresinanimation.tumblr.com/', :target => '_blank' %> <span>Logo Design</span></h3>
				<p>After graduating Animation Mentor I started this blog about animation. I had a lot of fun designing this logo. I wanted to capture a sense of adventure and fantasy.</p>
			</div>
		</div>
		<div class="row portfolio-animation">
			<div class="col-lg-4">
				<% link_to 'https://vimeo.com/72059455', :target => '_blank' do %>
					<%= image_tag 'portfolio-demoreel.jpg', :class => 'thumb' %>
				<% end %>
			</div>
			<div class="col-lg-8">
				<h3><%= link_to 'Demo Reel 2014', 'https://vimeo.com/72059455', :target => '_blank' %> <span>Character Animation</span></h3>
				<p>My latest character animation demo reel, featuring work from my final classes at Animation Mentor. All animation was done in Maya 2011-2013. Rigs were provided by Animation Mentor.</p>
			</div>
		</div>
		<div class="row portfolio-webdesign">
			<div class="col-lg-4">
				<% link_to 'http://joycmitchell.com/', :target => '_blank' do %>
					<%= image_tag 'portfolio-joy.jpg', :class => 'thumb' %>
				<% end %>
			</div>
			<div class="col-lg-8">
				<h3><%= link_to 'Joy C. Mitchell', 'http://joycmitchell.com/', :target => '_blank' %> <span>Web Portfolio</span></h3>
				<p>Joy is a friend of mine who is a copy writer and editor. I designed this portfolio for her in Wordpress, so that she could easily update it without any need to code.</p>
			</div>
		</div>		
		<div class="row portfolio-animation">
			<div class="col-lg-4">
				<% link_to 'http://www.youtube.com/watch?feature=player_detailpage&v=bJErQ9Shw2o', :target => '_blank' do %>
					<%= image_tag 'portfolio-hubspot.jpg', :class => 'thumb' %>
				<% end %>
			</div>
			<div class="col-lg-8">
				<h3><%= link_to 'Abandoned Cart Nurturing with Hubspot', 'http://www.youtube.com/watch?feature=player_detailpage&v=bJErQ9Shw2o', :target => '_blank' %><br/>
				<span>Motion Graphics Animation</span></h3>
				<p>Hubspot wanted an easy way to explain the rather complicated idea of abandoned cart nurturing, which is a part of their business model of inbound online marketing. I suggested a 90 second online animated spot. One they could send to potential clients and get them hooked on the idea.</p> 
			</div>
		</div>
	</div>
	<div class="row" id="below">
		<div class="col-lg-6">
			<a name="experience"></a>
			<h2>Experience</h2>
			<ul class="list-unstyled" id="experience">
				<li>Web Designer &amp; Developer<br/>
					<strong>Clean Energy Experts</strong><br/>
					<em>November 2011 - Present</em>
					<p>Designing and building landing pages and emails for solar panel information &amp; installation.</p>
				</li>
				<li>Graphic Design Assistant<br/>
					<strong>ArtsEmerson</strong><br/>
					<em>January 2011- August 2011</em>
					<p>Designed posters and hand-outs for print. Edited marketing videos for the web.</p>
				</li>
				<li>Intern<br/>
					<strong>Zoic Studios</strong><br/>
					<em>Fall 2010</em><br/>
					<p>Assisted with various production duties. Performed runs to other studios and production houses.</p>
				</li>
				<li>Assistant Web Coordinator<br/>
					<strong>Emerson College Alumni Relations</strong><br/>
					<em>November 2007-May 2010</em>
					<p>Designed and coded emails for events. Maintained college’s online presence (Twitter, Facebook, etc.)</p>
				</li>
			</ul>
		</div>
		<div class="col-lg-6">
			<a name="education"></a>
			<h2>Education</h2>
			<ul class="list-unstyled" id="education">
				<li><strong>Animation Mentor</strong>, Emeryville, CA<br/>
					Character Animation Program, September 2011 - March 2013
				</li>
				<li><strong>Emerson College</strong>, Boston, MA<br/>
					BA, Visual Media Arts, 2011
				</li>
				<li><strong>Roslyn High School</strong>, Roslyn Heights, NY<br/>
					High School Diploma, 2007</li>
			</ul>
			<a name="skills"></a>
			<h2>Skills</h2>
			<ul class="fa-ul" id="skills">
				<li><i class="fa-li fa fa-html5"></i> HTML, CSS</li>
				<li><i class="fa-li fa fa-code"></i> PHP, MySQL, Javascript, Ruby</li>
				<li><i class="fa-li fa fa-code"></i> Responsive design, static site development</li>
				<li><i class="fa-li fa fa-github"></i> Git</li>
				<li><i class="fa-li fa fa-leaf"></i> Coda, Sublime Text, Transmit, Text Mate</li>
				<li><i class="fa-li fa fa-desktop"></i> Photoshop, Illustrator, InDesign, Flash, Maya</li>
				<li><i class="fa-li fa fa-video-camera"></i> After Effects, Premiere, Final Cut Pro, Avid</li>
			</ul>
		</div>
	</div>
	<div class="row visible-xs">
		<div class="col-sm-12">
			<h2>Thanks for visiting!</h2>
			<a href="mailto:josh@joshmroth.com"><button type="button" class="btn btn-primary btn-lg btn-block">
				<i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;Contact Me
			</button></a>
			<a href="/Josh_Roth_Resume_2014.pdf" target="_blank"><button type="button" class="btn btn-primary btn-lg btn-block">
				<i class="fa fa-file-text fa-lg"></i>&nbsp;&nbsp;Download My Resume
			</button></a>
		</div>
	</div>
</div>

<%= partial 'footer' %>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %>
<%= javascript_include_tag 'home' %>